@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@import models.entities.Series
@(yourSeries: Seq[Series], discoverSeries: Seq[Series])
@*
discoverSeries deberia ser Series?
*@
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Cebolla Caramelizada") {

    @* "Mis series"*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-tit">My Series</h3>
        </div>
        <div class="panel-body">
            @* My shows info panels *@
            @for( s <- yourSeries ){
                <div class="panel panel-default col-md-3">
                    <a class="link" href="series/@s.id"><h4 class="pull-left serie-title">@s.title</h4></a>
                    @if(s.requested){
                        <h4 class="label label-success pull-right"><span class="glyphicon glyphicon-ok"></span></h4>
                    } else {
                        <h4 class="pull-right"><span class="glyphicon glyphicon-unchecked"></span></h4>
                    }

                    <img src="@s.image" alt="got" class="img-responsive panel-img">
                    <span class="label label-default">Temporadas: @s.seasonsNumber</span>
                    <span class="label label-default">@s.state</span>
                </div>
            }

        </div>
    </div>

    @* "Descubre"*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-tit">Discover</h3>
        </div>
    </div>
    @for( s <- discoverSeries ) {
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" height="70px;" src="@s.image" alt="twd">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@s.title</h4>
                @s.description
            </div>
        </div>
    }

}
