@import models.entities.SearchedSeries
@(series: Seq[SearchedSeries], serieName: String)

@main("Searching " + serieName + "· Cebolla Caramelizada") {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-tit">Add Series</h3>
        </div>
    </div>
    @for(s <- series) {
        <div class="media">
            <div class="media-left">
                <img class="media-object" height="70px;" src="@s.image" alt="twd">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@s.title <small>@s.status </small> <button id='@s.traktId' style="margin-left: 5px" type="button" onclick="add(@s.traktId)" class="btn btn-success">Add</button></h4>
                @s.description
            </div>
        </div>
    }
    <script>
        function add(id){
            $.ajax({
                url: 'add/'+id,
                success: function (msg) {
                    $("#"+id).text(msg)
                }
            });
        }
    </script>
}